repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-yaml
        exclude: .github/conda/meta.yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
        exclude: skops/card/tests/examples
    -   id: check-case-conflict
    -   id: check-merge-conflict
-   repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
    -   id: black
-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.0.292
    hooks:
    -   id: ruff
        args: ["--fix", "--show-source"]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.0.1
    hooks:
    -   id: mypy
        args: [--config-file=pyproject.toml]
        exclude: "spaces/"
        additional_dependencies: [types-requests>=2.28.5]
