[tool.black]
line-length = 88
target_version = ['py37', 'py38', 'py39', 'py310']
preview = true

[tool.isort]
profile = "black"

[tool.pytest.ini_options]
filterwarnings = [
    "error::DeprecationWarning",
    "error::FutureWarning",
]
markers = [
    "network: marks tests as requiring internet (deselect with '-m \"not slow\"')",
]
